@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Open+Sans&family=Poppins:wght@200;400;500;600;700;800&family=Roboto+Mono&family=Roboto:wght@100;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
    list-style-type: none;
}
body{
    background: linear-gradient(to bottom right,#fefae0,#faedcd);
}
h1{
    text-align: center;
    font-size: 3.5rem;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
li{
    width: 300px;
    height: 300px;
    background: linear-gradient(to top right,#ade8f4,#00b4d8);
    border: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
}
li a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 0 5px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
    

}
li a:hover{
    color: rgb(255, 255, 0);
}
img{
    margin: 5px 0;
    width: 80%;
    height: 60%;
}